.cart-wrapper {
  width: 1148px;
  height: 550px;
  border: 1px solid #eee;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cart-wrapper .cart-header {
  /* Roboto 30px/Roboto_medium_30px */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #1D232C;
  text-align: center;
}

.cart-wrapper .price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
}

.cart-wrapper .white-button {
  background: #FFFFFF;
  border: 1px solid #586A84;
  border-radius: 24px;
  width: 105px;
  height: 36px;
  color: #586A84;
}

.cart-wrapper .blue-button {
  background: #319DFF;
  border-radius: 24px;
  border: 1px solid #319DFF;
  width: 219px;
  height: 36px;
  color: #FFFFFF;
}

.cart-wrapper .middle {
  flex-grow: 1;
}

.cart-wrapper .middle ul::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}

.cart-wrapper .middle ul {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0px;
  margin: 6px;
  height: 450px;
  overflow-y: scroll;
}

.cart-wrapper .middle ul li.item {
  display: flex;
  height: 280px;
  border-bottom: 1px solid #ddd;
}

.cart-wrapper .middle ul li.item div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-wrapper .middle ul li.item .sel-box {
  width: 80px;
  margin-left: 60px;
  margin-right: 60px;
}

.cart-wrapper .middle ul li.item .imgname-box img {
  width: 240px;
  height: 240px;
  margin-right: 60px;
}

.cart-wrapper .middle ul li.item .product-name {
  /* Roboto 30px/Roboto_medium_30px */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #0077E4;
}

.cart-wrapper .middle ul li.item .button-box{
  margin-left: auto;
  margin-right: 90px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 220px;
  top: 12px;
}

.cart-wrapper .middle ul li.item .button-box .price-box {
  font-size: 20px;
  line-height: 25px;
}

.cart-wrapper .middle ul li.item .button-box .count-box {

}

.cart-wrapper .middle ul li.item .button-box .count-box input {
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #586A84;
  border-radius: 24px;
  height: 36px;
}

.cart-wrapper .middle ul li.item .button-box .count-box button {
  text-align: center;
  background: #FFFFFF;
  border: 1px solid #586A84;
  border-radius: 24px;
  height: 36px;
  width: 36px;
  margin: 0 2px;
}

.cart-wrapper .middle ul li.item .button-box.amount-box {
  flex-grow: 1;
}

.cart-wrapper .middle ul li.item .button-box.action-box {
  /* display: inline-block; */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}

.cart-wrapper .bottom {
  display: flex;
  background-color: #eee;
  height: 40px;
  align-items: center;
}

.cart-wrapper .bottom .sel-box {
  margin-left: 65px;
}

.cart-wrapper .bottom .sel-box i {
  display: inline-block;
  margin-left: 5px;
  padding-bottom: 0px;
}

.cart-wrapper .bottom .price {
  font-size: 0.9rem;
}

.cart-wrapper .bottom div {
  flex-grow: 1;
}

.cart-wrapper .bottom div.left {
  flex-grow: 8;
}

.cart-wrapper .bottom div.pay-box {

  padding: 8px;
}
