.profile-wrapper {
    width: 1148px;
    min-height: 0;
    border: 1px solid #eee;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .profile-wrapper .profile-body .profile-field input {
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #586A84;
    border-radius: 8px;
    height: 30px;
    min-width: 145px;
    width: auto;
  }

  .profile-wrapper .profile-header {
    /* Roboto 30px/Roboto_medium_30px */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #1D232C;
    text-align: center;
  }

  .profile-wrapper .profile-body {
    flex-grow: 1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px;
    margin: 6px;
    overflow-y: scroll;
    min-height: 0;
  }

  .profile-wrapper .profile-body .profile-field {
    margin: 6px;
  }

  .profile-wrapper .profile-body .profile-field .profile-field-title {
    font-weight: bold;
  }

  .profile-wrapper .blue-button {
    background: #319DFF;
    border-radius: 24px;
    border: 1px solid #319DFF;
    width: 219px;
    height: 36px;
    color: #FFFFFF;
  }